*{
    margin: 0px;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #E3E3E3;
    box-sizing: border-box;
}

/* NAVIGATION BAR */
.logo {
    margin-left: 3%;
    font-size: 35px;
    font-weight: 600;
}
.PWDPurple {
    color: #6C59CC;
}

header {
    display: flex;
    margin-top: 1%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headerButtons {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    margin-right: 3%;
}

.headerButtons a {
    color: black;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.headerButtons .getStarted {
    margin-left: 20px;
    background-color: #6C59CC;
    color: white;
    border-radius: 10px;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.headerButtons .getStarted:hover {
    transition: ease-in-out 0.3s;
    background-color: #3a2c80;
    color: #E3E3E3;
    
}

/* HERO */
.Hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.leftHero {
    margin-left: 5%;
    width: 50%;
}

.leftHero #getStarted {
    background-color: #6C59CC;
    padding: 20px;
    margin-top: 30px;
    border: transparent solid;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.heroTextLead {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 600;
}

.heroTextSmall {
    font-size: 25px;
}


.rightHero {
    margin-right: 5%;
}

.rightHero img {
    border: solid transparent;
    border-radius: 20px;
}